# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
.DS_Store

# misc
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local
.env.example

commit.sh
